/* product */
.product_search {
  .v-text-field {
    div.v-input__append-outer {
      margin-top: 0px !important;
    }
  }

  .v-text-field.v-text-field--solo:not(.v-text-field--solo-flat) > .v-input__control > .v-input__slot {
    box-shadow: none;
    background-color: #e2e2e2;
  }
}

/* app-top-header */
.v-toolbar--dense .v-toolbar__extension {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

/* inquiry-form */
.inquiry_form {
  padding: 20px 15px;
  .v-text-field.v-input--dense:not(.v-text-field--outlined) input {
    padding: 2px 0 6px;
  }
}

/* admin */
.admin-app {
  .gnb{
    margin: 0px;
    padding: 0px 15px 0px 10px;
    .v-toolbar__content{
      padding: 0px;

      .logo-text{font-size: 14pt}
      .list-item{
        padding: 0px 10px;
      }
    }
  }

  .admin_app_bar .v-toolbar__content{
    padding: 0px !important;
  }
}


.font-size-14{
  font-size: 14px;
}
.font-size-24{
  font-size: 24px;
}

.board_list_search_field .v-text-field--outlined fieldset {
  border-width: 2px !important;
}

.notice_list_row_active {
  background-color: #fffaf6;
  font-weight: 500;
  font-size: 16px;
  color: brown;
}

.app_bar_ext_ul{
  margin: 0px;
  height: 100%;
  li {
    height: 100%;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: 600;
    font-size: 18px;
    @media screen and (max-width: 720px){
      font-size: 16px;
    }
    @media screen and (max-width: 560px){
      font-size: 14px;
    }
  }

  li:hover {
    background-color: #ff7f00;
    color: white;
  }
}


.v-expansion-panel-content__wrap {
  padding: 0px;
}

.border-bottom {
  border-bottom: solid 1px #dadde6;
}

.toastui-editor-contents img {
  max-width: 100%;
  width: 100%;
}
.toastui-editor-contents {font-size: 14px;}
//.product_viewer .toastui-editor-contents {font-size: 16px;}