@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Nanum+Gothic+Coding&family=Noto+Sans+KR:wght@100&display=swap');

$body-font-family: 'Noto Sans KR';
$heading-font-family: $body-font-family;

a {text-decoration: none !important;}
/*body, th, td, input, select, textarea, button, #app{
  font-family: 'Noto Sans KR', sans-serif !important;
}*/

.list-style-none{list-style: none !important;}
.align-items-center{align-items: center !important;}
.align-items-end{align-items: end !important;}

.container {
  max-width: 1264px;
}

/* font */
.font-montserrat-100 {
  font-family: 'Montserrat', sans-serif !important;
}
.font-montserrat-300 {
  font-family: 'Montserrat', sans-serif !important;
  font-family: 'Quicksand', sans-serif !important;
}
.font-gothic {
  font-family: Nanum Gothic Coding !important;
}

.cursor-pointer{cursor: pointer;}

.v-parallax__image {
  transform: none !important;
  width: 100% !important;
}

.v-pagination__navigation, .v-pagination__item {
  box-shadow: none;
  border: 1px solid #c8c8c8;
}
.v-toolbar--dense .v-toolbar__extension {
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.v-text-field--outlined fieldset{
  border-color: #dadde6;
}

.ime-mode-active{
  -ms-ime-mode: active;
}

tbody {
  tr:hover {
    background-color: transparent !important;
  }
}

.v-btn--outlined {
  border-color: #a4a4a4 !important;
}

.v-expansion-panel::before {
  box-shadow: none;
}