@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Nanum+Gothic+Coding&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Nanum+Gothic+Coding&family=Noto+Sans+KR:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Quicksand:wght@300&display=swap');

html {
  min-width: 1280px;
}
a {text-decoration: none !important;}
body, th, td, input, select, textarea, button, #app{
  font-family: 'Noto Sans KR', sans-serif !important;
}

/* admin */

/* common */
.list-style-none{list-style: none !important;}
.align-items-center{align-items: center !important;}
.align-items-end{align-items: end !important;}

.container {
  min-width: 1280px;
  max-width: 1440px;
}

/* font */
.font-montserrat-100 {
  font-family: 'Montserrat', sans-serif !important;
}
.font-montserrat-300 {
  font-family: 'Montserrat', sans-serif !important;
  font-family: 'Quicksand', sans-serif !important;
}
.font-gothic {
  font-family: Nanum Gothic Coding !important;
}

.cursor-pointer{cursor: pointer;}


/* admin */
.admin-app {
  .gnb{
    margin: 0px;
    padding: 0px 15px 0px 10px;
    .v-toolbar__content{
      padding: 0px;

      .logo-text{font-size: 14pt}
      .list-item{
        padding: 0px 10px;
      }
    }
  }
}


/* product_search */
.product_search {

  .v-text-field {
    div.v-input__append-outer {
      margin-top: 0px !important;
    }
  }

  .v-text-field.v-text-field--solo:not(.v-text-field--solo-flat) > .v-input__control > .v-input__slot {
    box-shadow: none;
    background-color: #e2e2e2;
  }

}